# Entorno virtual
venv/

# Archivos y carpetas de salida
__pycache__/
*.py[cod]
output/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Jupyter Notebooks - checkpoints automáticos
.ipynb_checkpoints/

# Archivos de logs u outputs innecesarios
*.log

# Configuraciones de VSCode (si usas)
.vscode/

# Archivos de entorno (a veces útiles, pero pueden contener secretos)
.env
.env.*

# Archivos de entorno específicos de Conda (si cambiaste de idea algún día)
*.yml
