# Python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# ROS-related
build/
devel/
log/

# Datasets and models
*.h5
*.pt
*.pth
*.onnx
*.weights
datasets/
models/

# Misc
.DS_Store
.env
